 h1{
  color :#A12121;
 }

 *{
     border: solid;
    }

.header{
    background-color:  #00F1F1;
    display:flex;
    justify-content: space-between;
}  

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

body{
    background-color: rgb(128,128 ,128);
}

p , h2{
    color: #A1F121
}

      